.courses {
  &__heading {
    padding: 60px 0;
    background-color: var(--cream);
    text-align: center;

    @include tablet {
      padding: 40px 0;
    }
  }

  &__title {
    margin-bottom: 50px;

    @include small-tablet {
      margin-bottom: 30px;
    }
  }

  &__desc {
    max-width: 760px;
    margin: 0 auto;
  }

  &__content {
    padding: 30px var(--container-offset);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    @include tablet {
      gap: 30px;
    }

    @media (max-width: 850px) {
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

.course {
  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.35;
    font-weight: 600;
  }

  &__content {
    ul {
      margin: 0;
      padding-left: 20px;

      li {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }

  &__desc {
    margin: 0;
    font-size: 14px;
    line-height: 180%;
    font-weight: 300;
  }
}