.faq {
  padding: 60px 0;

  &__container {
    max-width: 900px;
  }

  &__title {
    margin-bottom: 50px;
    text-align: center;

    @include small-tablet {
      margin-bottom: 30px;
    }
  }

  &__item {
    padding: 20px 0;

    @include mobile {
      padding: 12px 0;
    }

    &.active {
      .faq__header::before {
        transform: rotate(135deg);
      }
    }
  }

  &__header {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    @include small-tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 15px;
    }

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(45deg);
      flex-shrink: 0;
      transition: transform .3s ease-out;

      @include small-tablet {
        width: 8px;
        height: 8px;
      }
    }


  }

  &__content {
    box-sizing: content-box;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
    will-change: max-height;
    padding-left: 20px;

    p {
      padding-top: 20px;
      margin: 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.55;

      @include small-tablet {
        font-size: 16px;
      }

      @include mobile {
        padding-top: 10px;
        font-size: 14px;
      }

      strong {
        font-weight: 700;
      }
    }
  }
}