.footer {
  background-color: #cdbea1;
  padding: 30px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid transparent;
    align-items: center;
    justify-content: center;
    transition: border-color .3s ease-out;

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      fill: #fff;
      stroke-width: 2px;
      transition: fill .3s ease-out, stroke .3s ease-out;
    }

    @include hover {
      border-color: #fff;

      svg {
        fill: transparent;
        stroke: #fff
      }
    }
  }
}