.header {
  // position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(#259da8, 1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--white);
    white-space: nowrap;
  }

  &__tel {
    color: var(--white);
    font-size: 20px;
    letter-spacing: .4px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      opacity: 0;
      background-color: var(--white);
      transform: scale(0.1);
      transition: transform .3s ease-out, opacity .2s ease-out;
    }

    @include hover {
      &::before {
        transform: scale(1);
        opacity: 1;
      }
    }

    a {
      color: inherit;
    }
  }
}