<section class="benefits" id="benefits">
  <div class="container benefits__container">
    <h2 class="title2 benefits__title" data-aos="fade-up">Почему выбирают нас?</h2>
    <ul class="benefits__list list-reset">
      <li class="benefits__item">
        <div class="benefits__icon" data-aos="fade-right">
          <svg class="">
            <use xlink:href="img/sprite.svg#lamp"></use>
          </svg>
        </div>
        <div class="benefits__content" data-aos="fade-left">
          <h6 class="benefits__name">Интерактивные платформы</h6>
          <p class="benefits__desc">
            Занятия проходят на интерактивных платформах, что делает формат онлайн обучения удобным и эффективным.
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon" data-aos="fade-right">
          <svg class="">
            <use xlink:href="img/sprite.svg#earth"></use>
          </svg>
        </div>
        <div class="benefits__content" data-aos="fade-left">
          <h6 class="benefits__name">Аутентичные материалы</h6>
          <p class="benefits__desc">
            Важным элементом наших курсов являются аутентичные материалы (статьи, интервью, фильмы и сериалы), которые
            помогают студентам лучше понять англоязычную культуру и изучать живой язык.
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon" data-aos="fade-right">
          <svg class="">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
        </div>
        <div class="benefits__content" data-aos="fade-left">
          <h6 class="benefits__name">Удобная организация учебного процесса</h6>
          <p class="benefits__desc">
            Для организации учебного процесса мы используем онлайн ежедневник notion, где хранится информация по
            домашним заданиям, оплатам, ссылки на дополнительные материалы и лексика с урока
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon" data-aos="fade-right">
          <svg class="">
            <use xlink:href="img/sprite.svg#mind"></use>
          </svg>
        </div>
        <div class="benefits__content" data-aos="fade-left">
          <h6 class="benefits__name">Методика</h6>
          <p class="benefits__desc">
            В работе используем коммуникативный подход, это значит, что большую часть времени мы уделяем общению на
            английском языке. Также мы являемся сторонниками лексического подхода. На уроках мы много времени уделяем
            словосочетаниям и выводим лексику в речь.
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon" data-aos="fade-right">
          <svg class="">
            <use xlink:href="img/sprite.svg#lamp-2"></use>
          </svg>
        </div>
        <div class="benefits__content" data-aos="fade-left">
          <h6 class="benefits__name">Увлекательные занятия</h6>
          <p class="benefits__desc">
            Мы умеем превращать скучное в увлекательное, добавляя обсуждение актуальных новостей, юмор и творчество.
            Обучение языку становится возможностью раскрыть свой потенциал и расширить кругозор.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>