<section class="coachers" id="coachers">
  <div class="container">
    <h2 class="title2 coachers__title" data-aos="fade-up">Преподаватели школы</h2>
    <p class="coachers__desc" data-aos="fade-up">
      Мы поможем вам не только освоить грамматику и повысить словарный запас, но и научим говорить на живом английском
      языке.
      На своих уроках мы создаем теплую и доверительную атмосферу, помогаем преодолеть плато в изучении английского и
      избавится от языкового барьера
    </p>

    <div class="coachers__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="coach">
            <div class="coach__image">
              <picture>
                <source srcset="./img/coachers/01.webp" type="image/webp">
                <img src="./img/coachers/01.jpeg">
              </picture>
            </div>
            <span class="coach__name">Мария</span>
            <span class="coach__desc">Создатель, руководитель и преподаватель школы</span>
            <div class="coach__educate">
              <span class="coach__subtitle">Образование</span>
              <p class="coach__info">Высшее педагогическое образование - лингвист, преподаватель иностранных языков,
                переводчик</p>
            </div>
            <p class="coach__sert">
              TESOL certificated
            </p>
            <p class="coach__exp"><span>Опыт работы:</span> 7 лет</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="coach">
            <div class="coach__image">
              <picture>
                <source srcset="./img/coachers/03.webp" type="image/webp">
                <img src="./img/coachers/03.jpg">
              </picture>
            </div>
            <span class="coach__name">Светлана</span>
            <span class="coach__desc">Преподаватель школы, автор курсов</span>
            <div class="coach__educate">
              <span class="coach__subtitle">Образование</span>
              <p class="coach__info">
                Высшее педагогическое образование - лингвист, преподаватель иностранных языков
              </p>
            </div>
            <p class="coach__sert">
              "Mentoring Session"/"NEUROEDUCATION" - Prague Language Leading Centre
            </p>
            <p class="coach__exp"><span>Опыт работы:</span> 12 лет</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="coach">
            <div class="coach__image">
              <picture>
                <source srcset="./img/coachers/02.webp" type="image/webp">
                <img src="./img/coachers/02.jpg">
              </picture>
            </div>
            <span class="coach__name">Ольга</span>
            <span class="coach__desc">Преподаватель школы</span>
            <div class="coach__educate">
              <span class="coach__subtitle">Образование</span>
              <p class="coach__info">
                Новороссийсий филиал Пятигорского государственного университета.
                Факультет «Методика преподования иностранных языков и культур».
              </p>
            </div>
            <p class="coach__sert">
              EF SET C1
            </p>
            <p class="coach__exp"><span>Опыт работы:</span> 3 года</p>
          </article>
        </div>
      </div>

      <div class="coachers__btn coachers__btn--prev">
        <img src="./img/arr.png" alt="">
      </div>
      <div class="coachers__btn coachers__btn--next">
        <img src="./img/arr.png" alt="">
      </div>
    </div>
  </div>
</section>