<section class="courses">
  <div class="courses__heading">
    <div class="container">
      <h2 class="title2 courses__title">Курсы</h2>
      <p class="desc courses__desc">
        Мы проводим уроки в индивидуальном формате, парах и мини-группах.
        Каждый формат урока имеет свои особенности и преимущества, позволяя вам выбрать оптимальный вариант для
        достижения своих целей.
      </p>
    </div>
  </div>
  <div class="courses__content container">
    <article class="courses__item course" data-aos="custom-fade-right" data-aos-duration="1000">
      <div class="course__image">
        <picture>
          <source srcset="./img/courses/01.webp" type="image/webp">
          <img src="./img/courses/01.jpeg">
        </picture>
      </div>
      <div class="course__content">
        <h6 class="course__title">General English</h6>
        <p class="course__desc">
          Курс направлен на изучение базовых навыков. Повышаем общий уровень владения английским. В рамках курса
          применяем аутентичные материалы.Работаем с уровнями A1- С1.Индивидуальный урок: 1250-1500 / 55 минутВ парах и
          мини-группе: 800 - 1000 / 60 минут
        </p>
      </div>
    </article>
    <article class="courses__item course" data-aos="custom-fade-right" data-aos-duration="1000">
      <div class="course__image">
        <picture>
          <source srcset="./img/courses/02.webp" type="image/webp">
          <img src="./img/courses/02.jpeg">
        </picture>
      </div>
      <div class="course__content">
        <h6 class="course__title">Курс по аутентике</h6>
        <p class="course__desc">
          Курс полностью построен по аутентичным материалам (статьям, фильмам и видео). Ориентирован на развитие навыков
          говорения и аудирования. Идеально подойдет вам если ваша главная цель пополнение словарного запаса и вывода
          лексики в речь.Индивидуальный урок: 1600 / 55 минутВ парах и мини-группе: 1000 / 60 минут
        </p>
      </div>
    </article>
    <article class="courses__item course" data-aos="custom-fade-right" data-aos-duration="1000">
      <div class="course__image">
        <picture>
          <source srcset="./img/courses/03.webp" type="image/webp">
          <img src="./img/courses/03.png">
        </picture>
      </div>
      <div class="course__content">
        <h6 class="course__title">Специальный английский</h6>
        <p class="course__desc">
          Курс разработан для специалистов из разных сфер (юристов, экономистов, врачей, бортпроводников, а также
          представителей других отраслей, которые требуют знания английского языка).Индивидуальный урок: 1600 / 55 минут
        </p>
      </div>
    </article>
    <article class="courses__item course" data-aos="custom-fade-left" data-aos-duration="1000">
      <div class="course__image">
        <picture>
          <source srcset="./img/courses/04.webp" type="image/webp">
          <img src="./img/courses/04.jpeg">
        </picture>
      </div>
      <div class="course__content">
        <h6 class="course__title">Асинхроное обучение</h6>
        <p class="course__desc">
          Формат подходит для тех, кто любит заниматься в своём темпе. Все учебные материалы находятся на интерактивной
          платформе Edvibe. Вы обучаетесь самостоятельно всего 15 минут в день (задания с авто проверкой, письменные
          задания и говорение проверяет преподаватель и дает обратную связь). В процессе обучения вы читаете аутентичные
          статьи, слушаете подкасты и смотрите фильмы.
        </p>
      </div>
    </article>
    <article class="courses__item course" data-aos="custom-fade-left" data-aos-duration="1000">
      <div class="course__image">
        <picture>
          <source srcset="./img/courses/05.webp" type="image/webp">
          <img src="./img/courses/05.jpeg">
        </picture>
      </div>
      <div class="course__content">
        <h6 class="course__title">Speaking club</h6>
        <p class="course__desc">
          Для разговорного клуба мы адаптируем аутентичные материалы: видео, интервью и статьи; подбираем актуальные
          темы по психологии и саморазвитию. Встреча проходит в zoom и длиться около 60-ти минут.Стоимость участия в
          одной встрече 700.

        </p>
      </div>
    </article>
    <article class="courses__item course" data-aos="custom-fade-left" data-aos-duration="1000">
      <div class="course__image">
        <picture>
          <source srcset="./img/courses/06.webp" type="image/webp">
          <img src="./img/courses/06.jpeg">
        </picture>
      </div>
      <div class="course__content">
        <h6 class="course__title">Консультации для преподавателей</h6>
        <p class="course__desc">
          Для коллег мы предлагаем консультации по следующим запросам:вопросы по методике преподавания работа c
          аутентичными материаламиорганизация учебного процесса в Notionработа на интерактивных платформахпродвижение в
          социальных сетяхпреподавание в группах
        </p>
      </div>
    </article>
  </div>
</section>