<section class="cta">
  <div class="container">
    <h2 class="cta__title title2">Записаться на пробный урок</h2>
    <form action="#" class="cta__form form">
      <label class="form__label">
        <input autocomplete="off" type="text" placeholder="Ваше имя" class="form__input form-name">
      </label>
      <label class="form__label">
        <input type="text" placeholder="Ваш возраст" class="form__input form-age">
      </label>
      <label class="form__label">
        <input autocomplete="off" type="text" placeholder="Какой ваш уровень языка?" class="form__input">
      </label>
      <span class="form__title">Какой курс вас интересует?</span>
      <div class="form__choose">
        <label class="form__radio">
          <input type="radio" name="course" value="General English">
          <span>General English</span>
        </label>
        <label class="form__radio">
          <input type="radio" name="course" value="Курс по аутентике">
          <span>Курс по аутентике</span>
        </label>
        <label class="form__radio">
          <input type="radio" name="course" value="Специальный английский">
          <span>Специальный английский</span>
        </label>
        <label class="form__radio">
          <input type="radio" name="course" value="Асинхроное обучение">
          <span>Асинхроное обучение</span>
        </label>
        <label class="form__radio">
          <input type="radio" name="course" value="Консультация">
          <span>Консультация</span>
        </label>
        <label class="form__radio">
          <input type="radio" name="course" value="Другое">
          <span>Другое</span>
        </label>
      </div>
      <label class="form__label">
        <input type="tel" placeholder="Ваш WhatsApp или Telegram" class="form__input form-tel">
      </label>
      <label class="form__label">
        <input name="wishes" placeholder="Ваши дополнительные пожелания" class="form__input"></input>
      </label>
    </form>
  </div>
</section>