<section class="faq">
  <div class="container faq__container">
    <h2 class="faq__title title2" data-aos="fade-up">Часто задаваемые вопросы</h2>
    <ul class="list-reset faq__list">
      <li class="faq__item" data-aos="fade-up">
        <div class="faq__header">
          Как проходят уроки?
        </div>
        <div class="faq__content">
          <p>Уроки проходят онлайн через любой удобный для вас ресурс - <strong>Google Meet / Telegram / Zoom</strong>,
            параллельно
            работаем на интерактивной платформе <strong>Miro</strong> или <strong>Edvibe</strong> (формат зависит от
            выбранного курса) , также вы можете
            использовать тетрадь для заметок.</p>
        </div>
      </li>
      <li class="faq__item" data-aos="fade-up">
        <div class="faq__header">
          Есть ли пробное занятие?
        </div>
        <div class="faq__content">
          <p>
            Мы проводим бесплатную консультацию перед началом курса, чтобы проверить ваш уровень и обсудить
            организационные моменты.
          </p>
        </div>
      </li>
      <li class="faq__item" data-aos="fade-up">
        <div class="faq__header">
          Как оплачивать занятия?
        </div>
        <div class="faq__content">
          <p>
            Действует система абонементов, оплата производится за 4+ занятия вперед по банковским реквизитам.
          </p>
        </div>
      </li>
      <li class="faq__item" data-aos="fade-up">
        <div class="faq__header">
          Какие правила отмены и переноса уроков?
        </div>
        <div class="faq__content">
          <p>
            При отмене урока менее чем за 4 часа, занятие считается проведенным и оплата взимается (форс-мажоры
            случаются и мы всегда идем навстречу если это происходит не регулярно).
            Перенос уроков возможен, мы всегда можем перенести занятие на любой удобный день.
            Пропуски уроков можно отработать в любой согласованный день до конца действия абонемента без потери оплаты.
          </p>
        </div>
      </li>
      <li class="faq__item" data-aos="fade-up">
        <div class="faq__header">
          Сколько раз в неделю нужно заниматься для получения результата?
        </div>
        <div class="faq__content">
          <p>
            Для повышения уровня языка, оптимальное количество занятий - два раза в неделю.
            Если ваша задача общее поддержание уже имеющегося уровня и проработка определенных навыков, одного раза в
            неделю будет достаточно.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>