<header class="header">
  <div class="container header__container">
    <nav class="header__nav nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Услуги</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <a href="./" class="header__logo">MIND SCHOOL LOGO</a>

    <div class="header__tel">
      <a href="tel:">Телефон: +1 234 567 89 90</a>
    </div>
  </div>
</header>