<section class="testimonials">
  <div class="testimonials__heading">
    <div class="container">
      <h2 class="title2 testimonials__title" data-aos="fade-up">Отзывы наших учеников</h2>
    </div>
  </div>
  <div class="container testimonials__content">
    <div class="testimonials__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonials__item">
            <picture>
              <source src="./img/testi/01.webp" alt="">
              <img src="./img/testi/01.png" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials__item">
            <picture>
              <source src="./img/testi/02.webp" alt="">
              <img src="./img/testi/02.png" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials__item">
            <picture>
              <source src="./img/testi/03.webp" alt="">
              <img src="./img/testi/03.png" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials__item">
            <picture>
              <source src="./img/testi/04.webp" alt="">
              <img src="./img/testi/04.png" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials__item">
            <picture>
              <source src="./img/testi/05.webp" alt="">
              <img src="./img/testi/05.jpg" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials__item">
            <picture>
              <source src="./img/testi/06.webp" alt="">
              <img src="./img/testi/06.jpg" alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials__btn testimonials__btn--prev">
      <img src="./img/arr.png" alt="">
    </div>
    <div class="testimonials__btn testimonials__btn--next">
      <img src="./img/arr.png" alt="">
    </div>
  </div>
</section>