// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/nav";
@import "./components/hero";
@import "./components/benefits";
@import "./components/coachers";
@import "./components/courses";
@import "./components/testimonials";
@import "./components/faq";
@import "./components/cta";
@import "./components/footer";